# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Master

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  install-core-dependencies:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.7
        uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Install Python Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

  setup-autosummeng:
    runs-on: ubuntu-latest
    steps:
      - name: Cache AutoSummENG
        id: cache-autosummeng
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-autosummeng
          path: ~/.sacrerouge/metrics/AutoSummENG

      - name: Install AutoSummENG
        if: steps.cache-autosummeng.outputs.cache-hit != 'true'
        run: python -m sacrerouge setup-metric autosummeng

  setup-bewte:
    runs-on: ubuntu-latest
    steps:
      - name: Cache BEwTE
        id: cache-bewte
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-bewte
          path: ~/.sacrerouge/metrics/ROUGE-BEwTE

      - name: Install BEwTE
        if: steps.cache-bewte.outputs.cache-hit != 'true'
        run: python -m sacrerouge setup-metric bewte

  setup-meteor:
    runs-on: ubuntu-latest
    steps:
      - name: Cache METEOR
        id: cache-meteor
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-meteor
          path: ~/.sacrerouge/metrics/METEOR
      - name: Install METEOR
        if: steps.cache-meteor.outputs.cache-hit != 'true'
        run: python -m sacrerouge setup-metric meteor

  setup-rouge:
    runs-on: ubuntu-latest
    steps:
      - name: Cache ROUGE
        id: cache-rouge
        uses: actions/cache@v2
        with:
          key: ${{ runner.os }}-rouge
          path: ~/.sacrerouge/metrics/ROUGE-1.5.5
      - name: Install ROUGE
        if: steps.cache-rouge.outputs.cache-hit != 'true'
        run: python -m sacrerouge setup-metric rouge

  setup-simetrix:
    runs-on: ubuntu-latest
    steps:
    - name: Cache SIMetrix
      id: cache-simetrix
      uses: actions/cache@v2
      with:
        key: ${{ runner.os }}-simetrix
        path: ~/.sacrerouge/metrics/simetrix
    - name: Install SIMetrix
      if: steps.cache-simetrix.outputs.cache-hit != 'true'
      run: python -m sacrerouge setup-metric simetrix

  run-linter:
    runs-on: ubuntu-latest
    steps:
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  run-tests:
    runs-on: ubuntu-latest
    needs: [setup-autosummeng, setup-bewte, setup-meteor, setup-rouge, setup-simetrix]
    steps:
      - name: Test with pytest
        run: pytest
